@model JewelryStoreWebApp.Controllers.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<h2>Login</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Login" asp-action="Login"
              asp-route-returnurl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <label class="col" asp-for="Username"></label>
                <input class="col" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row">
                <label class="col" asp-for="Password"></label>
                <input class="col" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row"> <input type="submit" value="Login" /></div>
        </form>
    </div>
</div>
