<!--Modal-->
<div aria-hidden="true" aria-labelledby="modal-order-details-label" role="dialog" tabindex="-1" id="modal-order-details" class="modal fade">
    <div class="modal-dialog">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>